@font-face {
  font-family: "a minha fonte";
  src: url("../assets/fonts/Pacifico/Pacifico-Regular.ttf");
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  width: 100%;
  height: 1000px;
  background: orange;
}

header {
  width: 100%;
  height: 50px;
  background: #ffffff;
  float: left;
  padding-top: 15px;
  position: fixed;
}

.hero {
  width: 100%;
  height: 300px;
  background-image: url("../assets/images/banner.jpg");
  float: left;
  margin-top: 65px;
}

.hero div h1 {
  color: deepskyblue;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

.hero div p {
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 16px;
  line-height: 25px;
  color: #727a82;
}

.hero div button {
  margin: auto;
  background: #f6755e;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  font-weight: bold;
  padding: 10px;
  width: 120px;
  border-radius: 5px;
  text-transform: uppercase;
}

.hero div {
  text-align: center;
  margin-top: px;
  width: 70%;
  height: 200px;
  margin-top: 50px;
  /*margin-left: auto;
    margin-right: auto*/
  margin-left: 15%;
  margin-right: 15%;
}
.main-content {
  width: calc(100% - 200px);
  /*height: 300px*/
  float: left;
  background: green;
  padding: 100px;
}
.box-content {
  width: 100%;
  height: 200px;
  background: #f6755e;
  color: #fcdcd6;
  float: left;
}
section.article.section {
  width: 100%;
  height: 200px;
  background: #fff;
  float: left;
}
footer {
  background: blanchedalmond;
  float: left;
  width: 100%;
  height: 200px;
}
header div {
  text-align: center;
}
header div:first-child {
  width: 100px;
  height: 100px;
  float: left;
  font-style: 200px;
  color: #e3e3e3;
}
header div:first-child span {
  padding: 10px;
  border: 2px solid #e3e3e3;
  border-radius: 5px;
}
header div:nth-child(2) {
  width: calc(100% - 200px);
  float: left;
  font-family: "a minha fonte";
  color: #f6755e;
  font-size: 25px;
  font-weight: bold;
}
header div:nth-child(3) {
  width: 85px;
  height: 100px;
  float: right;
  padding-right: 15px;
}

header div button {
  width: 100%;
  height: 35px;
  background-color: #fff;
  color: #727a82;
  border: 2px solid #727a82;
  border-radius: 5px;
}
.colun {
  width: 33.33%;
  float: left;
  height: 400px;
  background: purple;
}
.colun1 {
  background: black;
}
.colun2 {
  background: red;
}
.colun3 {
  background: saddlebrown;
}

.colun h2 {
  font-weight: bold;
  color: #25a2c3;
  padding-bottom: 30px;
  font-size: 20px;
}

.colun p {
  color: #727a82;
}
.colun div:first-child {
  margin-bottom: 50px;
}
.colun div {
  text-align: right;
}
.colun3 div {
  text-align: left;
}
.colun2 div {
  text-align: center;
}
.moldura {
  width: 150px;
  height: 150px;
  background: pink;
  margin: 0 auto;
  border-radius: 75px;
  overflow: hidden;
}

.moldura img {
  width: 100%;
}
