.caixa {
    width: 500px;
    height: 100px;
    background: red;
    margin: 20px;
    color: #ffff;
    font-size: 25px;
    font-weight: bold;
}

.box-contente {
    display: flex;
    flex-direction: row;
}

.impar {
    flex-direction: row;
}